@vp:registry=https://vistaprint.jfrog.io/vistaprint/api/npm/npm/
@vistaprint:registry=https://vistaprint.jfrog.io/vistaprint/api/npm/npm/
//vistaprint.jfrog.io/vistaprint/api/npm/npm/:_authToken=${VP_ARTIFACTORY_TOKEN}
//vistaprint.jfrog.io/vistaprint/api/npm/npm/:always-auth=true
